page-about {
   #per1 {
    width: 100px;
    height: 100px;
    background: #00ff90;
   
  }

  #per2 {
    width:100px ;
    height: 100px;
    background: #00ff21;
  }

  #per3 {
    width: 100px;
    height: 100px;
    background:#ff6a00 ;
  }

  #per 4 {
    width:100px ;
    height: 100px;
    background: #ffd800;
  }

  #per 5 {
    width:100px ;
    height:100px ;
    background: #564beb;
  }

  #per 6 {
    width:100px ;
    height:100px ;
    background:#ee5a5a;

  }

  #per 7 {
    width:100px ;
    height:100px ;
    background:#327514;
  }

  #per 8 {
    width:100px ;
    height:100px ;
    background:#ea18d3;
  }
}
