<ion-header>
  <ion-navbar>
    <ion-title>Schedule</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Enter Classes below!</h2>
  <ion-list>
    <ion-item>
      <ion-label color="primary" stacked>Period 1</ion-label>
      <ion-input type="number" placeholder="Room Number" id="class1" ng-model="class1"></ion-input>
    </ion-item>

    <ion-item id="class 2 ">
      <ion-label color="primary" stacked>Period 2</ion-label>
      <ion-input type="number" placeholder="Room Number"#class2 ng-model="class2"></ion-input>
    </ion-item>

    <ion-item id="class 3">
      <ion-label color="primary" stacked>Period 3</ion-label>
      <ion-input type="number" placeholder="Room Number"id="class3" ng-model="class3"></ion-input>
    </ion-item>

    <ion-item id="class 4 ">
      <ion-label color="primary" stacked>Period 4</ion-label>
      <ion-input type="number" placeholder="Room Number"id="class4" ng-model="class4"></ion-input>
    </ion-item>

    <ion-item id="class5 ">
      <ion-label color="primary" stacked>Period 5</ion-label>
      <ion-input type="number" placeholder="Room Number"id="class5" ng-model="class5"></ion-input>
    </ion-item>

    <ion-item id="class 6">
      <ion-label color="primary" stacked>Period 6</ion-label>
      <ion-input type="number" placeholder="Room Number"id="class6" ng-model="class6"></ion-input>
    </ion-item>

    <ion-item id="class 7 ">
      <ion-label color="primary" stacked>Period 7</ion-label>
      <ion-input type="number" placeholder="Room Number"id="class7" ng-model="class7"></ion-input>
    </ion-item>

    <ion-item id="class 8 ">
      <ion-label color="primary" stacked>Period 8</ion-label>
      <ion-input type="number" placeholder="Room Number"id="class8" ng-model="class8"></ion-input>
    </ion-item>
 </ion-list>
 
</ion-content>
